*{
  margin: 0;
  padding 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;
  color: black;
  font-family: verdana;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.title {
  font-size: 2rem;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.title:hover {
  cursor: default;
}
